* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(./Montserrat/Montserrat-Bold.ttf);
}

.content .boxImg .img1, .content .boxImg .img2, .content .boxImg .img3 {
  width: 32%;
  height: 100%;
  padding: 220px 25px 25px 25px;
  color: white;
}

.content .ideas .level1, .content .ideas .level2, .content .ideas .level3 {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .redButton, .content .bloc-search .box-search .redButton {
  height: 40px;
  background-color: #FF4E50;
  position: relative;
  border-radius: 20px;
  line-height: 3.1;
  text-align: center;
}

.content h3 {
  text-align: left;
  margin: 20px 0 25px 0;
  font-size: 26px;
  line-height: 26px;
}

.bottom .bot1, .bottom .bot2, .bottom .bot3 {
  width: 230px;
  height: 224px;
  margin: 0 5px;
  padding: 0 0 0 5px;
}

.content .ideas .level1 .img1 .img-text, .content .ideas .level1 .img2 .img-text, .content .ideas .level2 .img4 .img-text, .content .ideas .level2 .img5 .img-text, .content .ideas .level3 .img6 .img-text, .content .ideas .level3 .img7 .img-text {
  width: 80%;
  margin: 144px auto 0 auto;
}

.header {
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  background-image: url(./images/heder.png);
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.header .logo {
  width: 130px;
  height: 24px;
  position: relative;
  top: 46px;
  margin: 0 0 0 17%;
}

.header .logo a {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  line-height: 24px;
  text-align: justify;
}

.header .pasword {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px auto 0 67.5%;
}

.header .pasword .hov1 {
  width: 90px;
  height: 35px;
  background-color: none;
  text-align: center;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 110px;
}

.header .pasword .hov1 .logIn {
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 2.5;
  text-align: center;
  font-weight: normal;
}

.header .pasword .hov2 {
  width: 90px;
  height: 35px;
  background-color: none;
  text-align: center;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 110px;
}

.header .pasword .hov2 .signUp {
  font-size: 14px;
  color: white;
  text-decoration: none;
  line-height: 2.5;
  text-align: center;
  font-weight: normal;
}

.header .mainText {
  width: 470px;
  height: 126px;
  position: relative;
  margin: 0 auto;
  top: 145px;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.header .secondText {
  width: 550px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  top: 170px;
  font-weight: 100;
  font-size: 18px;
}

.header h5 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

.header .redButton {
  width: 225px;
  top: 205px;
  margin: 0 auto;
}

.header .redButton-text {
  font-size: 14px;
  font-weight: bold;
}

.content {
  max-width: 940px;
  margin: 90px auto 0px auto;
  font-family: 'Montserrat', sans-serif;
}

.content h2 {
  font-size: 28px;
  text-align: center;
  margin: 50px 0 34px 0;
}

.content p {
  font-family: 'Roboto' serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: lighter;
}

.content .boxImg {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .boxImg .img1 {
  background-image: url(./images/image1.png);
}

.content .boxImg .img1 .step1 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  text-align: center;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 110px;
  letter-spacing: 2px;
  line-height: 2.2;
  text-align: center;
  font-size: 10px;
}

.content .boxImg .img2 {
  background-image: url(./images/image2.png);
}

.content .boxImg .img2 .step2 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  text-align: center;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 110px;
  letter-spacing: 2px;
  line-height: 2.3;
  text-align: center;
  font-size: 10px;
  margin: 30px 0 25px 0;
}

.content .boxImg .img2 h3 {
  margin: 20px 0 15px 0;
}

.content .boxImg .img3 {
  background-image: url(./images/image3.png);
}

.content .boxImg .img3 .step3 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  text-align: center;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 110px;
  letter-spacing: 2px;
  line-height: 2.3;
  text-align: center;
  font-size: 10px;
}

.content .fases {
  width: 100%;
  height: 100%;
  margin: 90px auto 0 auto;
  background: repeating-linear-gradient(transparent, transparent 10px, #f0b3b3 12px), repeating-linear-gradient(90deg, transparent, transparent 10px, #f0b3b3 12px);
}

.content .fases .zagolovok {
  width: 100%;
  height: 30px;
}

.content .fases .boxfases {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content .fases .boxfases .fase {
  width: 220px;
  height: 255px;
  margin: 36px 0 5px 0;
}

.content .fases .boxfases .fase .photo {
  background-image: url(./images/Photo1.png);
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  background-position: center;
  border-radius: 50%;
}

.content .fases .boxfases .fase .photo .oval {
  background-image: url(./images/music1.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-size: cover;
  background-color: #FF4E50;
  border-radius: 50%;
  border: 8px solid #FF4E50;
}

.content .fases .boxfases .fase .fase-name {
  text-align: center;
  font-size: 14px;
  margin: 19px 0 22px 0;
  font-weight: 700;
}

.content .fases .boxfases .fase2 {
  width: 220px;
  height: 255px;
  margin: 36px 0 5px 0;
}

.content .fases .boxfases .fase2 .photo2 {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  background-position: center;
  border-radius: 50%;
  background-image: url(./images/Photo2.png);
}

.content .fases .boxfases .fase2 .photo2 .oval2 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-size: cover;
  background-color: #19D4CA;
  border-radius: 50%;
  border: 8px solid #19D4CA;
  background-image: url(./images/Oval2.png);
}

.content .fases .boxfases .fase2 .fase-name {
  text-align: center;
  font-size: 14px;
  margin: 19px 0 22px 0;
  font-weight: 700;
}

.content .fases .boxfases .fase3 {
  width: 220px;
  height: 255px;
  margin: 36px 0 5px 0;
}

.content .fases .boxfases .fase3 .photo3 {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  background-position: center;
  border-radius: 50%;
  background-image: url(./images/Photo3.png);
}

.content .fases .boxfases .fase3 .photo3 .oval3 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-size: cover;
  background-color: #FFA710;
  border-radius: 50%;
  border: 8px solid #FFA710;
  background-image: url(./images/oval3.png);
}

.content .fases .boxfases .fase3 .fase-name {
  text-align: center;
  font-size: 14px;
  margin: 19px 0 28px 0;
  font-weight: 700;
}

.content .fases .boxfases .fase4 {
  width: 220px;
  height: 255px;
  margin: 36px 0 5px 0;
}

.content .fases .boxfases .fase4 .photo4 {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  background-position: center;
  border-radius: 50%;
  background-image: url(./images/Photo4.png);
}

.content .fases .boxfases .fase4 .photo4 .oval4 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-size: cover;
  background-color: #667DF3;
  border-radius: 50%;
  border: 8px solid #667DF3;
  background-image: url(./images/oval4.png);
}

.content .fases .boxfases .fase4 .fase-name {
  text-align: center;
  font-size: 14px;
  margin: 19px 0 28px 0;
  font-weight: 700;
}

.content .fases .boxfases .fase-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #666666;
}

.content .faseButton {
  width: 100%;
  height: 10%;
}

.content .faseButton .fb {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #FF4E50;
  border-radius: 20px;
}

.content .faseButton .fb p {
  color: #FF4E50;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.8;
}

.content .ideas {
  width: 100%;
  height: 100%;
  margin: 90px auto;
}

.content .ideas .level1 .img1 {
  min-width: 300px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img1.png);
}

.content .ideas .level1 .img2 {
  min-width: 300px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img2.png);
}

.content .ideas .level1 .img3 {
  min-width: 300px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img3.png);
}

.content .ideas .level1 .img3 .text-img3 {
  width: 200px;
  height: 54px;
  margin: 129px auto;
  text-align: center;
}

.content .ideas .level1 .img3 .text-img3 h6 {
  line-height: 1.2;
}

.content .ideas .level2 .img4 {
  min-width: 300px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img4.png);
}

.content .ideas .level2 .img5 {
  min-width: 620px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img5.png);
}

.content .ideas .level3 .img6 {
  min-width: 620px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img6.png);
}

.content .ideas .level3 .img7 {
  min-width: 300px;
  height: 310px;
  background-position: center;
  background-image: url(./images/img7.png);
}

.content .ideas h6 {
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
}

.content .bloc-search {
  width: 482px;
  height: 158px;
  margin: 0 auto;
}

.content .bloc-search h5 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  font-family: 'Roboto' serif;
  font-size: 18px;
  line-height: 2.9;
  color: #666666;
}

.content .bloc-search .box-search {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0 0 0;
}

.content .bloc-search .box-search .search {
  width: 299px;
  height: 40px;
}

.content .bloc-search .box-search .search .input {
  width: 299px;
  height: 40px;
  border: 1px solid #D4D4D4;
  padding: 4px 0 0 15px;
}

.content .bloc-search .box-search .redButton {
  width: 172px;
}

.content .bloc-search .box-search .redButton .redButton-text {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 3.1;
}

.bottom {
  max-width: 1440px;
  height: 224px;
  margin: 104px auto 0 auto;
  border-top: 2px solid #FF4E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px 0 0 0;
}

.bottom .bot1 .dream, .bottom .bot2 .dream, .bottom .bot3 .dream {
  font-size: 16px;
  color: #FF4E50;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.bottom .bot1 h4, .bottom .bot2 h4, .bottom .bot3 h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.bottom .bot1 .company, .bottom .bot2 .company, .bottom .bot3 .company {
  margin: 0 0 10px 0;
}

.bottom .bot1 h5, .bottom .bot2 h5, .bottom .bot3 h5 {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  color: #CCCCCC;
  text-align: center;
}

.bottom .bot4 {
  width: 230px;
  text-align: right;
  margin: 0 5px 0 0;
  position: relative;
}

.bottom .bot4 .bot4-text {
  color: #CCCCCC;
  font-family: "Montserrat", sans-serif;
}

.bottom .bot4 .areto {
  width: 110px;
  height: 24px;
  margin: 0 0 0 auto;
  position: relative;
  right: 0px;
  top: 8px;
  background-image: url(./images/areto.png);
}

.hov1:hover {
  border: 2px solid white;
}

.hov2:hover {
  border: 2px solid white;
}

@media (max-width: 770px) {
  .header {
    max-width: 768px;
    height: 700px;
  }
  .content {
    max-width: 748px;
  }
  .content h3 {
    font-size: 24px;
    line-height: 14px;
  }
  .content .boxImg .img1 {
    width: 236px;
    height: 400px;
  }
  .content .boxImg .img2 .step2 {
    margin: 30px 0 25px 0;
  }
  .content .boxImg .img2 h3 {
    margin: 20px 0 15px 0;
  }
  .content .fases {
    width: 492px;
    background: none;
  }
  .content .ideas {
    width: 748px;
  }
  .content .ideas .level1 .img1 {
    min-width: 236px;
    height: 310px;
  }
  .content .ideas .level1 .img2 {
    min-width: 236px;
    height: 310px;
  }
  .content .ideas .level1 .img3 {
    min-width: 236px;
    height: 310px;
  }
  .content .ideas .level2 .img4 {
    min-width: 236px;
    height: 310px;
  }
  .content .ideas .level2 .img5 {
    min-width: 492px;
    height: 310px;
  }
  .content .ideas .level3 .img6 {
    min-width: 492px;
    height: 310px;
  }
  .content .ideas .level3 .img7 {
    min-width: 236px;
    height: 310px;
  }
  .bottom {
    max-width: 768px;
    height: 224px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 38px 20px 0 30px;
  }
  .bottom .bot4 {
    text-align: right;
    margin: 0 5px 0 0;
  }
  .bottom .bot4 .areto {
    width: 110px;
    height: 24px;
    position: relative;
    top: 7px;
    right: 0px;
    background-image: url(./images/areto.png);
  }
  .bottom .bot4 h6 {
    color: #CCCCCC;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 450px) {
  .header {
    max-width: 425px;
    height: 540px;
  }
  .header .logo {
    top: 152px;
    margin: 0 auto;
    font-size: 20px;
  }
  .header .pasword {
    margin: 0 auto;
  }
  .header .pasword .hov1 {
    top: 0px;
    left: 0px;
  }
  .header .pasword .hov1 .hov2 {
    position: absolute;
    top: 0px;
    left: 90px;
  }
  .header .mainText {
    width: 300px;
    height: 126px;
    top: 148px;
  }
  .header .mainText h1 {
    font-size: 30px;
  }
  .header .secondText {
    width: 280px;
    height: 25px;
    top: 100px;
  }
  .header h5 {
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
  }
  .header .redButton {
    width: 280px;
    top: 138px;
    margin: 0 auto;
  }
  .content {
    max-width: 425px;
    margin: 0px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
  }
  .content h2 {
    font-size: 22px;
    text-align: center;
    margin: 32px 0 16px 0;
  }
  .content p {
    font-family: 'Roboto' serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: lighter;
  }
  .content .boxImg {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .boxImg .img1, .content .boxImg .img3 {
    width: 300px;
    height: 240px;
    margin: 0px auto 10px auto;
    padding: 65px 30px 15px 20px;
  }
  .content .boxImg .img1 h3, .content .boxImg .img3 h3 {
    margin: 43px 0 24px 0;
    line-height: 0.6;
  }
  .content .boxImg .img2 {
    width: 300px;
    height: 240px;
    margin: 0px auto 10px auto;
    padding: 65px 30px 5px 20px;
  }
  .content .boxImg .img2 h3 {
    margin: 0px 0 15px 0;
  }
  .content .fases {
    width: 100%;
    height: 100%;
    margin: -5px auto 0 auto;
    background: none;
  }
  .content .fases .zagolovok {
    width: 65%;
    height: 30px;
    margin: 0 auto 35px auto;
    font-size: 22px;
  }
  .content .fases .boxfases {
    width: 300px;
    height: 910px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .fases .boxfases .fase, .content .fases .boxfases .fase2, .content .fases .boxfases .fase3, .content .fases .boxfases .fase4 {
    width: 236px;
    height: 200px;
    margin: 0px auto;
  }
  .content .fases .boxfases .fase2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .content .fases .boxfases .fase3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .fases .boxfases .fase4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .content .fases .faseButton .fb {
    width: 280px;
    margin: 20px auto 0 auto;
  }
  .content .ideas {
    width: 300px;
    height: 100%;
    margin: 33px auto 0 auto;
  }
  .content .ideas .ideas-zagolovok {
    width: 60%;
    margin: 0 auto 23px auto;
    font-size: 22px;
    text-align: center;
  }
  .content .ideas .level1 {
    width: 300px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .ideas .level1 .img1 {
    width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level1 .img1 .img-text {
    width: 60%;
    margin: 23px auto 0 auto;
  }
  .content .ideas .level1 .img1 .img-text h2 {
    line-height: 1.2;
  }
  .content .ideas .level1 .img2 {
    width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level1 .img2 .img-text {
    width: 60%;
    margin: 35px auto 0 auto;
  }
  .content .ideas .level1 .img2 .img-text h2 {
    line-height: 1.4;
  }
  .content .ideas .level1 .img3 {
    width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level1 .img3 .text-img3 {
    width: 200px;
    height: 54px;
    margin: 33px auto 0 auto;
  }
  .content .ideas .level1 .img3 .text-img3 h6 {
    font-size: 22px;
    line-height: 1.23;
  }
  .content .ideas .level2 {
    width: 300px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .ideas .level2 .img4 {
    min-width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level2 .img4 .img-text {
    width: 60%;
    margin: 50px auto 0 auto;
  }
  .content .ideas .level2 .img5 {
    min-width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level2 .img5 .img-text {
    width: 100%;
    margin: 48px auto 0 auto;
  }
  .content .ideas .level3 {
    width: 300px;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .ideas .level3 .img6 {
    min-width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level3 .img6 .img-text {
    width: 100%;
    margin: 48px auto 0 auto;
  }
  .content .ideas .level3 .img7 {
    min-width: 300px;
    height: 120px;
    margin: 10px 0 0 0;
  }
  .content .ideas .level3 .img7 .img-text {
    width: 100%;
    margin: 48px auto 0 auto;
  }
  .content .bloc-search {
    width: 300px;
    height: 192px;
    margin: 0 auto;
  }
  .content .bloc-search .search-zagolovok {
    width: 70%;
    margin: 37px auto 25px auto;
  }
  .content .bloc-search .text-search {
    font-size: 18px;
    line-height: 2px;
  }
  .content .bloc-search .box-search {
    width: 100%;
    height: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 22px 0 0 0;
  }
  .content .bloc-search .box-search .search {
    width: 280px;
    height: 40px;
    margin: 0 auto;
  }
  .content .bloc-search .box-search .search .input {
    width: 280px;
    height: 40px;
    border: 1px solid #D4D4D4;
    padding: 4px 0 0 15px;
  }
  .content .bloc-search .box-search .redButton {
    width: 280px;
    margin: 10px auto;
  }
  .content .bloc-search .box-search .redButton .redButton-text {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 3.1;
  }
  .bottom {
    max-width: 320px;
    height: 100%;
    margin: 38px auto 0 auto;
    border-top: 1px solid #FF4E50;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  .bottom .bot1 {
    width: 100%;
    height: 32px;
    margin: 22px auto 0 auto;
  }
  .bottom .bot1 .dream {
    font-size: 16px;
    text-align: center;
  }
  .bottom .bot1 h4 {
    font-size: 16px;
    text-align: center;
  }
  .bottom .bot2 {
    width: 100%;
    height: 76px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
  }
  .bottom .bot2 .company {
    margin: 0 auto;
  }
  .bottom .bot3 {
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: center;
  }
  .bottom h5 {
    display: inline-block;
    line-height: 2;
    text-align: center;
    margin: 0 5px 0 5px;
  }
  .bottom .bot4 {
    width: 100%;
    height: 50px;
    text-align: right;
    margin: 0 0px 0 0;
  }
  .bottom .bot4 .bot4-text {
    text-align: center;
  }
  .bottom .bot4 .areto {
    width: 110px;
    height: 24px;
    position: static;
    margin: 8px auto;
    background-image: url(./images/areto.png);
  }
}
/*# sourceMappingURL=main.css.map */